/** {
  border: solid 1px red;
}*/

h1 {
  color: purple;
  font-family: Helvetica;
  text-align: center;
}

p {
  text-align: center;
  font-size: 1.2em;
}

strong {
  color: red;
}

#wrap {
  max-width: 500px;
  margin: 0 auto;
}
/*
.center {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}*/

#octopus {
  position: relative;
  top: 80px;
  left: 120px;
  display: inline-block;
}

#hat {
  position: absolute;
  top: -60px;
  left: -25px;
  /*right: 100px;*/
}

#glasses {
  position: absolute;
  top: 98px;
  left: 43px;
  /*right: 176px;*/
}

@media screen and (max-width: 377px) {
  #octopus {
    position: relative;
    top: 80px;
    display: inline-block;
  }
}

@media screen and (max-width: 377px) {
  #octopus {
    left: 50px;
  }
}

@media screen and (max-width: 326px) {
  #octopus {
    left: 20px;
  }
}
